<mat-tab-group (selectedTabChange)="onTabSelection(tabRef.selectedIndex)" animationDuration=0ms #tabRef>
  <mat-tab label="home">
    <app-frontend></app-frontend>
  </mat-tab>
  <mat-tab label="Signup" routerLink="/signup">
    <app-signup (newSignedupUser)="onSignup($event)"></app-signup>
  </mat-tab>
  <mat-tab label="Login">
    <app-login></app-login>
  </mat-tab>
  <mat-tab label="Users">
    <app-users [usersList]="users"></app-users>
  </mat-tab>
</mat-tab-group>
<!--
<router-outlet></router-outlet>
-->

<!--
  <app-frontend></app-frontend>
<app-signup></app-signup>
<app-login></app-login>
-->

